@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');


.secondContainer {

    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.outsideDiv {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backButton {
    width: 136px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    border-radius: 6px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #111517;
    cursor: pointer;
}

.secondInsideDiv {
    width: 90%;
    min-height: 85vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.leftDiv {
    width: 585px;
    height: 390px;
  
}

.rightDiv {
    width: 650px;
    height: 600px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flagImg {
    width: 100%;
    height: 90%;
}

.smallDivs {
    width: 85px;
    height: 58px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
    border-radius: 2px;
    display: grid;
    place-items: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #111517;
    margin-top: 5px;
    overflow: hidden;



}

.bordersDiv {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    color: #111517;
    height: 44px;

}

.middleDiv {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.bordersDiv span {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
 

}

.infoDiv {
    padding: 0;
}

.bottomDiv{
    display: flex;
    /* background-color: black; */
    height: 200px;
    justify-content:  space-around;
    flex-wrap: wrap;
    gap: 5px 5px;

 
}